.about-wrapper {
  h2 {
    margin-top: 45px;
  }
  li {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    border-top: 2px solid $color__mint;
    padding: 30px 20px;
    border-radius: 3px;
    width: 100%;
  }
  p {
    font-size: 1.2rem;
    text-align: center;
    @include tablet {
      font-size: 1.5rem;
    }
    @include desktop {
      font-size: 1.8rem;
    }
  }

}
.bold {
  font-weight: bold;
  color: $color__turq;
}
