.contact-wrapper {
  .wpcf7-submit {
    @extend .btn;
    outline: none;
    border-radius: 2px;
    box-shadow: none;
    text-shadow: none;
    border: none;
    color: $color__white;
    font-size: 1rem;
    padding: 7px 25px;
    &:hover {
      box-shadow: none;
      text-shadow: none;
      border: none;
    }
  }
  .wpcf7-text {
    outline: none;
    border: 0;
    border-bottom: 2px solid $color__turq;
    border-radius: 0;
    width: 300px;
  }
  .wpcf7-textarea {
    outline: none;
    border: 0;
    border-left: 2px solid $color__turq;
    border-bottom: 2px solid $color__turq;
    border-radius: 0;
    width: 300px;
  }
  .contact-form-info {
    display: block;
    @include tablet {
      display: flex;
    }
    .contact-info-wrapper {
      width: 320px;
      height: 350px;
      background: linear-gradient(180deg,rgba(0,0,0,.4)  0,rgba(0,0,0,.4)), url(../../assets/images/contact.png) center no-repeat;
      background-size: 96%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      color: $color__white;
      border-radius: 2px;
      padding: 20px;
      margin: 0 auto;
      @include tablet {
        background-size: cover;
        margin-right: 50px;
        width: 300px;
        height: 550px;
      }
      span {
        font-size: 1.3rem;
      }
      p {
        margin: 0;
      }
    }
  }
  .contact-paragraph {
    border-bottom: 2px solid $color__white;
    padding-bottom: 20px;
  }
  .contact-info {
    padding-top: 20px;
    h5 {
      margin-bottom: 10px;
    }
    p {
      &:last-of-type {
        margin-top: 10px;
        width: 200px;
      }
    }
  }
}
