.contact-wrapper {
  .wpcf7-submit {
    @extend .btn;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    border: none;
    color: $color__white;
    font-size: 1rem;
    padding: 7px 25px;
    &:hover {
      border-radius: 0;
      box-shadow: none;
      text-shadow: none;
      border: none;
    }
  }
  .contact-form-info {
    display: flex;
    .contact-info {
      display: none;
      @include tablet {
        display: block;
        margin-left: 50px;
        width: 300px;
        height: 550px;
        background: linear-gradient(180deg,rgba(0,0,0,.4)  0,rgba(0,0,0,.4)), url(../../assets/images/contact.png) center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        color: $color__white;
        border-radius: 5px;
        padding: 20px;
        span {
          font-size: 1.3rem;
        }
        p {
          margin: 0;
        }
      }
    }
  }
}
