.contact-banner {
  width: 100%;
  text-align: center;
  height: 150px;
  background: $color__turq;
  color: white;
  margin-bottom: 40px;
}
.contact-wrapper {
  .wpcf7-form {
    @include tablet {
      order: 1;
    }
  }
  .wpcf7-submit {
    @extend .btn;
    outline: none;
    border-radius: 2px;
    box-shadow: none;
    text-shadow: none;
    border: none;
    color: $color__white;
    font-size: 1.1rem;
    padding: 7px 25px;
    &:hover {
      box-shadow: none;
      text-shadow: none;
      border: none;
    }
  }
  .wpcf7-text, .wpcf7-textarea {
    outline: none;
    border: 0;
    border-bottom: 2px solid $color__turq;
    border-radius: 0;
    max-width: 350px;
    width: 100%;
  }
  .wpcf7-textarea {
    height: 242px;
    border-left: 2px solid $color__turq;
  }
  .contact-form-info {
    display: block;
    @include tablet {
      display: flex;
    }
    .contact-info-wrapper {
      max-width: 400px;
      width: 100%;
      height: 350px;
      background: linear-gradient(180deg,rgba(0,0,0,.6)  0,rgba(0,0,0,.6)), url(../../assets/images/contact.jpg) no-repeat;
      background-position: 70%;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      color: $color__white;
      border-radius: 2px;
      padding: 20px;
      margin: 0 auto;
      @include tablet {
        order: 2;
        background-position: 80%;
        background-size: cover;
        margin-left: 50px;
        margin-top: 20px;
        height: 550px;
      }
      span {
        font-size: 1.3rem;
      }
      p {
        margin: 0;
      }
    }
  }
  .contact-paragraph {
    border-bottom: 2px solid $color__white;
    padding-bottom: 20px;
  }
  .contact-info {
    padding-top: 20px;
    h5 {
      margin-bottom: 10px;
    }
    p {
      &:last-of-type {
        margin-top: 10px;
        width: 200px;
      }
    }
    a {
      color: white;
    }
  }
}
