.profile-wrapper {
  // height: 100vh;
  .bx-pager {
    display: none;
  }
}

.profile-list {
    .profile-wrap {
      @include tablet {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .profile-image {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        overflow: hidden;
        margin: 0 auto;
        @include tablet {
          margin-left: 30px;
          order: 2;
        }
        @include desktop {
          margin-right: 200px;
          border-radius: 2px;
          height: 400px;
          width: 300px;
          border: none;
        }
    }
    .profile-info {
      @include tablet {
        order: 1;
        width: 450px;
        margin-right: 10px;
      }
      @include desktop {
        margin-right: auto;
      }
    }
    .profile-title {
      text-transform: uppercase;
      border-bottom: 2px solid $color__turq;
    }
    h4 {
      @include tablet {
        width: 400px;
        margin-left: auto;
      }
    }
    .profile-line {
      border-bottom: 2px solid $color__turq;
      width: 400px;
      @include tablet {
        margin-left: auto;
      }
    }
    p, li {
      font-size: 0.9rem;
      @include tablet {
        width: 400px;
        margin-left: auto;
      }
      &:last-child {
        border-bottom: none;
      }
  }
  li {
    list-style: inside;
  }
}
