.profile-list {
    .profile-wrap {
      @include tablet {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .profile-image {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        overflow: hidden;
        margin: 0 auto;
        border: 5px solid $color__turq;
        @include tablet {
          margin-right: 20px;
        }
        @include desktop {
          margin-right: 70px;
          border-radius: 2px;
          height: 400px;
          width: 300px;
          border: none;
        }
    }
    .profile-info {
      width: 350px;
      @include tablet {
        width: 450px;
        margin-left: 10px;
      }
      @include desktop {
        margin-right: auto;
      }
    }
    .profile-title {
      text-transform: uppercase;
      border-bottom: 2px solid $color__mint;
    }
    p {
      border-bottom: 2px solid $color__mint;
      font-size: 0.9rem;
      &:last-child {
        border-bottom: none;
      }
  }
}
