.resources-wrapper {
  display: block;
  color: $color__white;
  .resources-banner {
    background: linear-gradient(180deg,rgba(0,0,0,.5)  0,rgba(0,0,0,.5)), url(../../assets/images/hero-banner-1.jpg) no-repeat bottom fixed;
    background-size: cover cover;
    width: 100%;
    height: 250px;
    @extend .center;
    @include tablet {
      height: 300px;
      background-size: 300%;
    }
    @include desktop {
      height: 400px;
      background-size: 150%;
    }
  }
  h5 {
    margin-bottom: 20px;
  }
  .resources-info {
    display: flex;
    align-items: center;
    color: $color__white;
    margin-bottom: 20px;
    ul {
      margin: 0;
    }
    a {
      color: $color__turq;
      &:hover {
        color: $color__mint;
      }
    }
  }
  img {
    height: 300px;
    width: 200px;
  }
}
