.services-wrapper {
    margin-top: 70px;
    @extend .center;
    background-color: $color__turq;
    color: white;
    padding-bottom: 50px;
    h2 {
        color: $color__mint;
    }
    ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }
    li {
        flex: 0 1 50%;
        &:last-of-type, &:first-of-type {
            h5 {
                margin-bottom: 48px;
                @include tablet {
                    margin-bottom: 48px;
                }
                @include desktop {
                    margin-bottom: 51px;
                }
            }

        }
        @include tablet {
            flex: 0 1 25%;
        }
    }
    .services-wrap {
        @extend .center;
    }
    .services-icons {
        display: flex;
        justify-content: center;
    }
    .services-title {
        color: $color__tan;
        width: 150px;
        margin-bottom: 20px;
        @include tablet {
            width: 165px;
        }
    }
    .services-info {
        text-align: center;
    }
}

// Popup boxes

.popup {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    width: auto;
    padding: 50px 30px;
    margin-left: -200px;
    background: $color__white;
    color: #333;
    font-size: .8rem;
    line-height: 20px;
    border: 10px solid $color__black;
    z-index: 2;
    border-radius: 5px;
    @include tablet {
      line-height: 30px;
      width: 700px;
      font-size: 1.3rem;
      margin-left: -350px;
    }
    .popup-btn-close {
        position: absolute;
        top: 8px;
        right: 14px;
        color: $color__black;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
    }
    .popup-header {
        font-size: 1.5rem;
        text-transform: uppercase;
        background: $color__turq;
        color: $color__tan;
        border-radius: 5px;
        @include tablet {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        img {
        width: 150px;
        height: 120px;
        @include tablet {
            width: 200px;
            height: 173.33px;
            }
        }
        h4 {
            margin: 0;
            padding-bottom: 15px;
        }
    }
}
