.services-wrapper {
    margin-top: 30px;
    @extend .center;
    background-color: $color__turq;
    color: white;
    padding-bottom: 30px;
    h2 {
        color: $color__mint;
    }
    .border {
        border-bottom: 1px solid $color__mint;
        width: 100%;
    }
    .accordian {
        .accordian-head {
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
        }
        h2 {
            font-size: 1rem;
            color: $color__tan;
            @include tablet {
                font-size: 1.5rem;
            }
        }
        img {
            width: 110px;
            @include tablet {
                width: 170px;
            }
        }
        .expand-content {
            background: white;
            color: $color__turq;
        }
        .content-wrap {
            p:last-of-type {
                margin-bottom: 15px;
            }
        }
        .btn {
            background: $color__navy;
        }
    }
}
