.wellness-wrapper {
  @extend .center;
  .wellness-banner {
    background: linear-gradient(180deg,rgba(0,0,0,.4)  0,rgba(0,0,0,.4)), url('../../assets/images/dimensions-banner.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    @extend .center;
    @include desktop {
      height: 500px;
      background-size: 150%;
    }
    h2 {
      color: $color__white;
    }
    p {
      color: $color__white;
      width: 300px;
      @include tablet {
        width: 650px;
      }
    }
  }
  .white {
    margin-top: 0;
    padding-top: 0;
    background: $color__white;
    p {
      color: $color__navy;
    }
  }
  .dw-diagram {
    margin: 50px 0;
    @include tablet {
      flex-direction: row;
    }
    img {
      width: 300px;
      height: 300px;
      @include tablet {
        width: 400px;
        height: 400px;
      }
    }
  }
  .diagram-info {
    margin-top: 30px;
    width: 300px;
    @include tablet {
      width: 500px;
      margin-left: 30px;
    }
  }
  .dimensions-wrapper {
    width: 100%;
  }
  .accordian {
    img {
      width: 120px;
      @include tablet {
        width: 180px
      }
    }
  }
}

// Accordian
.accordian {
  display: block;
  width: 100%;
  img {
    width: 100px;
    height: 100px;
    @include tablet {
      width: 150px;
      height: 150px;
    }
  }
  li {
    flex: 0 1 100%;
    width: 100%;
  }
  h2 {
    text-transform: uppercase;
  }
  p {
    width: 100%;
    margin: 0;
  }
  button {
    background: transparent;
    border: 1px solid transparent;
    text-align: center;
    outline: none;
    box-shadow: none;
    color: white;
    font-size: 3.5rem;
    padding: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: transform 200ms ease;
    &.active {
      transform: rotate(44deg);
    }
  }
  .accordian-head {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
  }
  .expand-content {
    display: none;
    padding: 20px;
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0 60px;
      list-style-type: disc;
      margin-bottom: 15px;
    }
  }
  .content-wrap {
      margin: 0 auto;
      width: 100%;
      max-width: 1000px;
      font-size: 1.1rem;
  }
  .btn {
    background: white;
  }
}

.emotional-wrapper {
  .border {
    border: 1px solid $color__purple;
  }
  .accordian-head {
    color: white !important;
  }
  .expand-content {
    background: $color__purple;
  }
  button, h2, .btn {
    color: $color__purple;
  }
  p, li {
    color: white;
  }
}
.cognitive-wrapper {
  .border {
    border: 1px solid $color__blue;
  }
  .accordian-head {
    color: white;
  }
  .expand-content {
    background: $color__blue;
  }
  button, h2, .btn {
    color: $color__blue;
  }
  p, li {
    color: white;
  }
}
.physical-wrapper {
  .border {
    border: 1px solid $color__olive;
  }
  .accordian-head {
    color: $color__olive;
  }
  .expand-content {
    background: $color__olive;
  }
  button, h2, .btn {
    color: $color__olive;
  }
  p, li {
    color: white;
  }
}
.spiritual-wrapper {
  .border {
    border: 1px solid $color__green;
  }
  .accordian-head {
    color: $color__green;
  }
  .expand-content {
    background: $color__green;
  }
  button, h2, .btn {
    color: $color__green;
  }
  p, li {
  color: white;
  }
}
