// .color-header {
//   background: $color__turq;
//   width: 100%;
//   height: 80px;
// }
.error404 {
  text-align: center;
  .error-404 {
    height: calc(100vh - 200px);
  }
  .page-content {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    text-transform: uppercase;
  }
  img {
    height: auto;
    width: 100px;
  }
  .link {
    color: $color__turq;
    &:hover {
      color: $color__mint;
    }
  }
  .error-msg {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}

.site-info {
  @extend .container;
  color: $color__white;
}
