.banner-wrapper {
    color: $color__white;
    .hero-banner {
      background: linear-gradient(180deg,rgba(0,0,0,.1)  0,rgba(0,0,0,.1));
       background-size: cover;
       height: 100vh;
       width: 100%;
       transition: .1s ease-in-out;
       transition-property: background-position;
       @extend .center;
    }
    h1 {
      text-transform: uppercase;
      position: relative;
      z-index: 1;
    }
    p {
      position: relative;
      z-index: 1;
      text-align: center;
      font-size: 1.1rem;
      margin: 0;
      font-weight: lighter;
      @include tablet {
        font-size: 1.2rem;
      }
      @include desktop {
        font-size: 1.4rem;
      }
    }
  }
.gradient{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}
  
// About Section
// =============
.about-wrapper {
    h2 {
      margin-top: 45px;
    }
    li {
      display: flex;
      justify-content: center;
      font-size: 1.5rem;
      border-top: 2px solid $color__mint;
      // padding: 30px 20px;
      border-radius: 3px;
      width: 100%;
    }
    p {
      font-size: 1.2rem;
      text-align: center;
      @include tablet {
        font-size: 1.5rem;
      }
      @include desktop {
        font-size: 1.8rem;
      }
    }
  
  }

// Services Section
// ================

.services-wrapper {
    margin-top: 30px;
    @extend .center;
    background-color: $color__navy;
    color: white;
    padding-bottom: 30px;
    h2 {
        color: $color__mint;
    }
    .border {
        border-bottom: 1px solid $color__mint;
        width: 100%;
    }
    .accordian {
        .accordian-head {
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
        }
        h2 {
            font-size: 1rem;
            color: $color__white;
            @include tablet {
                font-size: 1.5rem;
            }
        }
        img {
            width: 110px;
            @include tablet {
                width: 170px;
            }
        }
        .expand-content {
            background: white;
            color: $color__text-main;
        }
        .content-wrap {
            p:last-of-type {
                margin-bottom: 15px;
            }
        }
        .btn {
            background: $color__turq;
        }
    }
}


// Profile Section
// ===============
  .profile-wrapper {
    // height: 100vh;
    // .bx-pager {
    //   display: none;
    // }
  }
  
  .profile-list {
      .profile-wrap {
        @include tablet {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .profile-image {
          border-radius: 50%;
          width: 200px;
          height: 200px;
          overflow: hidden;
          margin: 0 auto;
          @include tablet {
            margin-left: 30px;
            order: 2;
          }
          @include desktop {
            border-radius: 2px;
            height: 400px;
            width: 300px;
            border: none;
          }
      }
      .profile-info {
        @include tablet {
          order: 1;
          width: 450px;
          margin-right: 10px;
        }
        @include desktop {
          margin-right: auto;
        }
      }
      .profile-title {
        text-transform: uppercase;
        border-bottom: 2px solid $color__turq;
      }
      h4 {
        @include tablet {
          width: 400px;
          margin-left: auto;
        }
      }
      .profile-line {
        border-bottom: 2px solid $color__turq;
        max-width: 400px;
        width: 100%;
        @include tablet {
          margin-left: auto;
        }
      }
      p, li {
        font-size: 1.1rem;
        @include tablet {
          width: 400px;
          margin-left: auto;
        }
        &:last-child {
          border-bottom: none;
        }
    }
    li {
      list-style: inside;
    }
    i {
      font-style: normal;
    }
  }
  

  // Wellness Section
  // ================

  .wellness-wrapper {
    @extend .center;
    .wellness-banner {
      background: linear-gradient(180deg,rgba(0,0,0,.4)  0,rgba(0,0,0,.4)), url('../../assets/images/dimensions-banner.jpg') no-repeat top center;
      background-size: cover;
      width: 100%;
      height: 50vh;
      @extend .center;
      h2 {
        color: $color__white;
      }
      p {
        color: $color__white;
        width: 300px;
        @include tablet {
          width: 650px;
        }
      }
    }
    // .white {
    //   margin-top: 0;
    //   padding-top: 0;
    //   background: $color__white;
    //   p {
    //     color: $color__navy;
    //   }
    // }
    .dw-diagram {
      margin-top: 30px;
      @include tablet {
        flex-direction: row;
      }
      p {
        @media only screen and (max-width: $tablet-width) {
          text-align: center;
        }
      }
    }
    .diagram-info {
      margin-top: 30px;
      width: 300px;
      @include tablet {
        width: 500px;
        margin-left: 30px;
      }
    }
    .dimensions-wrapper {
      width: 100%;
    }
  }
  

//   .resources-wrapper {
//     display: block;
//     color: $color__white;
//     .resources-banner {
//       background: linear-gradient(180deg,rgba(0,0,0,.5)  0,rgba(0,0,0,.5)), url(../../assets/images/hero-banner-7.jpg) no-repeat bottom fixed;
//       background-size: cover cover;
//       width: 100%;
//       height: 250px;
//       @extend .center;
//       @include tablet {
//         height: 300px;
//         background-size: 300%;
//       }
//       @include desktop {
//         height: 400px;
//         background-size: 180%;
//       }
//     }
//     h5 {
//       margin-bottom: 20px;
//     }
//     .resources-info {
//       text-align: center;
//       color: $color__white;
//       margin-bottom: 20px;
//       ul {
//         margin: 0;
//         text-align: left;
//       }
//       a {
//         color: $color__turq;
//         &:hover {
//           color: $color__mint;
//         }
//       }
//     }
//     img {
//       height: 300px;
//       width: 200px;
//     }
//   }