/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: none;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
.site-description {
	display: none;
}

// Navigation Menu Customization
.menu-menu-1-container, .error404 .main-navigation {
	display: none;
}
.main-navigation {
	width: 100%;
	height: 70px;
	background: rgba(#06A6B0, 0.95);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	z-index: 100;
	top: 0;
	color: $color__mint;
	font-size: .8rem;
	font-weight: bold;
	// border-bottom: 1px solid $color__mint;
	@include tablet {
		font-size: 1rem;
	}
	.logo-container {
		display: flex;
		align-items: center;
		margin-left: 10px;
		@include tablet {
			margin-left: 40px
		}
		@include desktop {
			margin-left: 50px
		}
		// a:hover {
		// 	color: $color__white;
		// }
	}
	.mccoll-logo {
		display: flex;
		align-items: center;
	}
	h3 {
		font-size: 1rem;
		@include tablet {
			font-size: 1.4rem;
		}
	}
	img {
		height: 60px;
	  width: 60px;
	 margin-right: 15px;

	}
	.nav {
		display: flex;
		align-items: center;
	}
	.menu-options {
		display: none;
		@include desktop {
			display: flex;
			align-items: center;
			text-transform: uppercase;
		}
		a {
			margin: 0 5px;
			outline: none;
			@include tablet {
				margin: 0 15px;
			}
		}
	}
	.contact-nav {
		color: $color__white;
		text-align: center;
		&:hover {
			color: $color__white;
		}
	}
	a {
		color: $color__white;
		transition: 300ms ease;
		letter-spacing: 1px;
		font-family: $font__header;
		opacity: 1;
		font-weight: 400;
		&:hover {
			opacity: 0.8;
		}
	}
	.btn {
		font-weight: 700;
	}
	.active {
		color: $color__navy;
	}
	button {
		box-shadow: none;
		margin-right: 10px;
		@include tablet {
			  margin-right: 60px;
		}
	}
}


// Mobile Icon

$tcon-size: 35px !default;
$tcon-transition: .3s !default;
$tcon-jstransform: 'tcon-transform' !default;

$tcon-menu-radius: 0 !default;
$tcon-menu-color: white !default;
$tcon-menu-arrowleft-transformation: (
  transform: scale3d(.8, .8, .8) rotate3d(0, 0, 1, 90deg)
) !default;
$tcon-menu-arrow360left-transformation: (
  transform: scale3d(.8, .8, .8) rotate3d(0, 0, 1, 360deg)
) !default;
.tcon {
  appearance: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $tcon-size;
  transition: $tcon-transition;
  user-select: none;
  width: $tcon-size;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

  > * {
    display: block;
  }
  @include desktop {
    display: none;
  }
  &:hover,
  &:focus {
    outline: none; // see issue #36 https://github.com/grayghostvisuals/transformicons/issues/36
  }
  &::-moz-focus-inner {
    border: 0;
  }
}

@mixin tcon-menu-lines {
  display: inline-block;
  height: ($tcon-size / 12);
  width: $tcon-size;
  border-radius: $tcon-menu-radius;
  transition: $tcon-transition;
  background: $tcon-menu-color;
}

.tcon-menu__lines {
  @include tcon-menu-lines;
  position: relative;

  &::before,
  &::after {
    @include tcon-menu-lines;
    content: '';
    position: absolute;
    left: 0;
    transform-origin: ($tcon-size / 14) center;
    width: 100%;
  }

  &::before {
    top: ($tcon-size / 4);
  }

  &::after {
    top: -($tcon-size / 4);
  }

  .#{$tcon-jstransform} & {
    transform: scale3d(.8, .8, .8);
  }
}
.tcon-menu--xcross {
  width: auto;

  &.#{$tcon-jstransform} {
    .tcon-menu__lines {
      background: transparent;

      &::before,
      &::after {
        transform-origin: 50% 50%;
        top: 0;
        width: $tcon-size;
      }

      &::before {
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &::after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}
// see issue #7 https://github.com/grayghostvisuals/transformicons/issues/7#issuecomment-59813596
.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &:active,
  &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

// Mobile Nav
.mobile-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: rgba(#06A6B0, 0.95);
  background-size: cover;
  z-index: 9;
  width: calc(100%);
  height: calc(100vh);
  overflow: hidden;
  color: $color__white;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: 500ms ease;
  margin-top: 70px;
  @include tablet {
    width: 100%;
    height: calc(100vh - 60px);
  }

  @include desktop {
    display: none;
  }

  @media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (orientation : landscape) {
    width: calc(100%);
    height: calc(100vh);
  }

  &.active {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }
  li {
    margin-bottom: 20px;
  }
  a {
    display: block;
    text-align: center;
    font-size: 25px;
    color: $color__white;
    letter-spacing: 0.58px;
    line-height: 51px;
    margin: 0;

    @media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (orientation : landscape) {
      font-size: 17px;
      line-height: 23px;
      font-weight: 400;
    }
  }
  .btn {
    border-radius: 0;
		@include tablet {
			border-radius: 0;
		}
	}
}
