// Structure

$base__space-unit: 1.5em;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

$color__white: white;
$color__black: black;
$color__turq: #06A6B0;
$color__mint: #B8F4F3;
$color__navy: #225378;
$color__navy-li: rgba(#225378, 0.8);
$color__tan: #F3FEE5;
$color__mustard: #FFBF42;
$color__purple: #6F2FA0;
$color__blue: #006FBF;
$color__olive: #817F22;
$color__green: #00B050;

// Typography

$font__main: 'Roboto', sans-serif;
$font__header: 'Montserrat', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
